<h1>Погода</h1>

<ul>
<% data["list"].forEach(function(wthr) { %>

	<li>
		<strong>
		Температура в фарингейтах:   <%= wthr["main"]["temp"] %><br>
		</strong> 
	</li>
		<li>
		<strong>
		Атмосферное давление:  <%= wthr["main"]["pressure"] %> миллиметров ртутного столба
		</strong> 
		</li>
	<% }) %>
</ul>

<a href="/">Search again</a>